body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-image: url(day.jpg);
    background-size: cover;
    background-position: center;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

#app {
    display: grid;
    grid-auto-rows: minmax(100px, 100%);
    grid-template-rows: 50px 100px 200px auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    grid-gap: 0;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder {
    display: flex;
    flex-wrap: wrap;
}

.zip {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.feel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.entry {
    outline: 1px solid #fff;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#entryHolder {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    letter-spacing: 1.2px;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#date {
    text-transform: uppercase;
}

#temp {
    text-transform: uppercase;
}

#content {
    text-transform: uppercase;
}

.headline {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: chartreuse;
    text-transform: uppercase;
}

.title {
    font-size: 1.5em;
    color: chartreuse;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

input {
    display: block;
    height: 60px;
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    outline: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    margin-top: 40px;
}

input:focus {
    outline: 1px solid chartreuse;
    transform: scaleX(1.1);
}

button {
    background: transparent;
    padding: 15px 30px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    border: none;
    border: 2px solid white;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.23s linear;
    font-size: 1.2em;
    margin-top: 10px;
}

button:hover {
    background-color: white;
    color: black;
}

h1 {
    font-size: 36px;
}

textarea {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    padding: 10px 20px;
    border: 0;
    border-radius: 30px;
    resize: none;
    outline: 1px solid #fff;
    width: 500px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

textarea:focus {
    outline: 1px solid chartreuse;
    transform: scaleX(1.1);
}

.color {
    color: chartreuse;
    font-size: 1.3em;
}


/* Reset style for HTML element on active to have no border*/


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #fff;
    opacity: 0.6;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
    opacity: 0.6;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
    opacity: 0.6;
}